/* command-link */

.hatenabar-command-link {
    -moz-binding: url("chrome://hatenabar/content/widgets.xml#command-link");
}

/* sidelabel-toolbarbutton */

toolbarbutton[sidelabel] {
    -moz-binding: url("chrome://hatenabar/content/widgets.xml#sidelabel-toolbarbutton");
}

/* menu-autocomplte */

.hatenabar-menu-autocomplete > .autocomplete-result-popupset > panel[type="autocomplete"] {
    -moz-binding: url("chrome://hatenabar/content/widgets.xml#menu-autocomplete-popup");
}

/* checker */

.hatenabar-checker {
    -moz-binding: url("chrome://hatenabar/content/widgets.xml#checker");
}
.hatenabar-checker-iconic {
    -moz-binding: url("chrome://hatenabar/content/widgets.xml#checker-iconic");
}
