@namespace hatena url("http://www.hatena.ne.jp/");

.hatenabar-toolbarbutton {
    list-style-image: url("chrome://hatenabar/skin/icons.png") !important;
}

#hatenabar-toolbar .hatenabar-toolbarbutton[type="menu-button"] > .toolbarbutton-menubutton-button {
    margin: 0px;
    padding: 4px;
    -moz-padding-end: 0px;
}
#hatenabar-toolbar .hatenabar-toolbarbutton:not([type="menu-button"]) {
    margin: 0px;
    padding: 4px;
}

#hatenabar-main-button {
    -moz-image-region: rect(0px, 16px, 16px, 0px);
}

/* Searchbar */

#hatenabar-search-field {
    min-height: 22px;
}

#hatenabar-search-button {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(128px, 16px, 144px, 0px);
}
[hatena|link="b:search"] > hbox > #hatenabar-search-button {
    -moz-image-region: rect(64px, 32px, 80px, 16px);
}

textbox[type="autocomplete"]:not([enablehistory="true"]) > .hatenabar-autocomplete-button-box {
    -moz-padding-end: 3px;
}

.hatenabar-menu-autocomplete-popup-box {
    font-size: smaller;
}

#hatenabar-search-splitter {
    -moz-appearance: none;
    background: none;
    margin: 0px;
    padding: 0px;
    border: none;
    min-width: 6px;
}
#hatenabar-search-splitter + toolbarseparator {
    visibility: collapse;
}

/* Service Links */

#hatenabar-antenna-button {
    -moz-image-region: rect(64px, 16px, 80px, 0px);
}

#hatenabar-bookmark-button {
    -moz-image-region: rect(64px, 32px, 80px, 16px);
}

#hatenabar-diary-button {
    -moz-image-region: rect(64px, 64px, 80px, 48px);
}

#hatenabar-fotolife-button {
    -moz-image-region: rect(64px, 96px, 80px, 80px);
}

#hatenabar-group-button {
    -moz-image-region: rect(64px, 112px, 80px, 96px);
}

#hatenabar-haiku-button {
    -moz-image-region: rect(128px, 80px, 144px, 64px);
}

#hatenabar-idea-button {
    -moz-image-region: rect(64px, 144px, 80px, 128px);
}

#hatenabar-keyword-button {
    -moz-image-region: rect(64px, 176px, 80px, 160px);
}

#hatenabar-message-button {
    -moz-image-region: rect(64px, 208px, 80px, 192px);
}

#hatenabar-question-button {
    -moz-image-region: rect(64px, 272px, 80px, 256px);
}

#hatenabar-star-button {
    -moz-image-region: rect(64px, 304px, 80px, 288px);
}

#hatenabar-ugomemo-button {
    -moz-image-region: rect(128px, 96px, 144px, 80px);
}

#hatenabar-counter-button {
    -moz-image-region: rect(128px, 48px, 144px, 32px);
}

#hatenabar-graph-button {
    -moz-image-region: rect(128px, 64px, 144px, 48px);
}

#hatenabar-coco-button {
    -moz-image-region: rect(128px, 112px, 144px, 96px);
}

#hatenabar-monolith-button {
    -moz-image-region: rect(128px, 128px, 144px, 112px);
}

/* Page Actions */

#hatenabar-including-antenna-button {
    -moz-image-region: rect(0px, 96px, 16px, 80px);
}
#hatenabar-including-antenna-button[disabled="true"] {
    -moz-image-region: rect(32px, 96px, 48px, 80px);
}

#hatenabar-add-antenna-button {
    -moz-image-region: rect(0px, 112px, 16px, 96px);
}
#hatenabar-add-antenna-button[disabled="true"] {
    -moz-image-region: rect(32px, 112px, 48px, 96px);
}

#hatenabar-view-bookmark-button {
    -moz-image-region: rect(0px, 128px, 16px, 112px);
}
#hatenabar-view-bookmark-button[disabled="true"] {
    -moz-image-region: rect(32px, 128px, 48px, 112px);
}

#hatenabar-add-bookmark-button {
    -moz-image-region: rect(0px, 144px, 16px, 128px);
}
#hatenabar-add-bookmark-button[disabled="true"] {
    -moz-image-region: rect(32px, 144px, 48px, 128px);
}

#hatenabar-referring-diary-button {
    -moz-image-region: rect(0px, 160px, 16px, 144px);
}
#hatenabar-referring-diary-button[disabled="true"] {
    -moz-image-region: rect(32px, 160px, 48px, 144px);
}

#hatenabar-diary-refer-button {
    -moz-image-region: rect(0px, 176px, 16px, 160px);
}
#hatenabar-diary-refer-button[disabled="true"] {
    -moz-image-region: rect(32px, 176px, 48px, 160px);
}

#hatenabar-group-refer-button {
    -moz-image-region: rect(0px, 192px, 16px, 176px);
}
#hatenabar-group-refer-button[disabled="true"] {
    -moz-image-region: rect(32px, 192px, 48px, 176px);
}

/* Checkers and Counters */

.hatenabar-checker,
.hatenabar-checker-iconic {
    -moz-appearance: none !important;
    margin: 0px 2px;
    padding: 0px;
    border: none;
    min-height: 20px;
    cursor: pointer;
    list-style-image: url("chrome://hatenabar/skin/icons.png");
}

.hatenabar-checker > .checker-icon-box {
    background-color: #4566e3;
    background-image: -moz-linear-gradient(top, #5f8ceb, #4566e3);
    border-top: 1px solid #38538a;
    -moz-border-start: 1px solid #38538a;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    padding: 0px 1px;
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
.hatenabar-checker > .checker-text-box {
    color: #000000;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #83817e;
    -moz-border-start: 1px solid #38538a;
    -moz-border-end: 1px solid #cdcac4;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    padding: 0px 3px;
    min-width: 36px;
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
.hatenabar-checker > .checker-text-box > .checker-text {
    margin: 0px;
}

.hatenabar-checker-iconic > .checker-icon-box {
    background-color: #4566e3;
    background-image: -moz-linear-gradient(top, #5f8ceb, #4566e3);
    border-top: 1px solid #38538a;
    -moz-border-start: 1px solid #38538a;
    -moz-border-end: 1px solid #38538a;
    -moz-border-radius: 2px;
    padding: 0px 3px;
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
.hatenabar-checker-iconic[disabled="true"] > .checker-icon-box {
    background-color: rgba(0, 0, 0, 0.15);
    background-image: none;
    border-top: 1px solid #888580;
    -moz-border-start: 1px solid #aeaba5;
    -moz-border-end: 1px solid #aeaba5;
}

.hatenabar-checker:not([disabled="true"]):hover:active,
.hatenabar-checker-iconic:not([disabled="true"]):hover:active {
    outline: 1px dotted;
}

#hatenabar-check-antenna-button {
    -moz-image-region: rect(0px, 208px, 16px, 192px);
}
#hatenabar-check-bookmark-button {
    -moz-image-region: rect(0px, 224px, 16px, 208px);
}
#hatenabar-check-diary-button {
    -moz-image-region: rect(0px, 240px, 16px, 224px);
}

/* Statusbar */

#hatenabar-account-status {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(32px, 48px, 48px, 32px);
}
#hatenabar-account-status[hatena|login] {
    -moz-image-region: rect(0px, 48px, 16px, 32px);
}
#hatenabar-account-status > .statusbarpanel-icon {
    width: 16px;
    height: 16px;
}

#hatenabar-star-status {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(32px, 64px, 48px, 48px);
}
#hatenabar-star-status[hatena|star="true"] {
    -moz-image-region: rect(0px, 64px, 16px, 48px);
}

#hatenabar-bookmark-status {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(0px, 272px, 16px, 256px);
}
