@namespace hatena url("http://www.hatena.ne.jp/");

.hatenabar-toolbarbutton {
    list-style-image: url("chrome://hatenabar/skin/icons.png") !important;
}

#hatenabar-toolbar .hatenabar-toolbarbutton[type="menu-button"] > .toolbarbutton-menubutton-button {
    margin: 0px;
    padding: 4px;
    -moz-padding-end: 0px;
}
#hatenabar-toolbar .hatenabar-toolbarbutton:not([type="menu-button"]) {
    margin: 0px;
    padding: 4px;
}

#hatenabar-main-button {
    -moz-image-region: rect(0px, 16px, 16px, 0px);
}

/* Searchbar */

#hatenabar-search-field {
    min-height: 22px;
}

#hatenabar-search-button {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(128px, 16px, 144px, 0px);
}
[hatena|link="b:search"] > hbox > #hatenabar-search-button {
    -moz-image-region: rect(64px, 32px, 80px, 16px);
}

textbox[type="autocomplete"]:not([enablehistory="true"]) > .hatenabar-autocomplete-button-box {
    -moz-padding-end: 3px;
}

.hatenabar-menu-autocomplete-popup-box {
    font-size: smaller;
}

#hatenabar-search-splitter {
    -moz-appearance: none;
    background: none;
    margin: 0px;
    padding: 0px;
    border: none;
    min-width: 6px;
}
#hatenabar-search-splitter + toolbarseparator {
    visibility: collapse;
}

/* Service Links */

#hatenabar-antenna-button {
    -moz-image-region: rect(64px, 16px, 80px, 0px);
}

#hatenabar-bookmark-button {
    -moz-image-region: rect(64px, 32px, 80px, 16px);
}

#hatenabar-diary-button {
    -moz-image-region: rect(64px, 64px, 80px, 48px);
}

#hatenabar-fotolife-button {
    -moz-image-region: rect(64px, 96px, 80px, 80px);
}

#hatenabar-group-button {
    -moz-image-region: rect(64px, 112px, 80px, 96px);
}

#hatenabar-haiku-button {
    -moz-image-region: rect(128px, 80px, 144px, 64px);
}

#hatenabar-idea-button {
    -moz-image-region: rect(64px, 144px, 80px, 128px);
}

#hatenabar-keyword-button {
    -moz-image-region: rect(64px, 176px, 80px, 160px);
}

#hatenabar-message-button {
    -moz-image-region: rect(64px, 208px, 80px, 192px);
}

#hatenabar-question-button {
    -moz-image-region: rect(64px, 272px, 80px, 256px);
}

#hatenabar-star-button {
    -moz-image-region: rect(64px, 304px, 80px, 288px);
}

#hatenabar-ugomemo-button {
    -moz-image-region: rect(128px, 96px, 144px, 80px);
}

#hatenabar-counter-button {
    -moz-image-region: rect(128px, 48px, 144px, 32px);
}

#hatenabar-graph-button {
    -moz-image-region: rect(128px, 64px, 144px, 48px);
}

/* Page Actions */

#hatenabar-including-antenna-button {
    -moz-image-region: rect(0px, 96px, 16px, 80px);
}
#hatenabar-including-antenna-button[disabled="true"] {
    -moz-image-region: rect(32px, 96px, 48px, 80px);
}

#hatenabar-add-antenna-button {
    -moz-image-region: rect(0px, 112px, 16px, 96px);
}
#hatenabar-add-antenna-button[disabled="true"] {
    -moz-image-region: rect(32px, 112px, 48px, 96px);
}

#hatenabar-view-bookmark-button {
    -moz-image-region: rect(0px, 128px, 16px, 112px);
}
#hatenabar-view-bookmark-button[disabled="true"] {
    -moz-image-region: rect(32px, 128px, 48px, 112px);
}

#hatenabar-add-bookmark-button {
    -moz-image-region: rect(0px, 144px, 16px, 128px);
}
#hatenabar-add-bookmark-button[disabled="true"] {
    -moz-image-region: rect(32px, 144px, 48px, 128px);
}

#hatenabar-referring-diary-button {
    -moz-image-region: rect(0px, 160px, 16px, 144px);
}
#hatenabar-referring-diary-button[disabled="true"] {
    -moz-image-region: rect(32px, 160px, 48px, 144px);
}

#hatenabar-diary-refer-button {
    -moz-image-region: rect(0px, 176px, 16px, 160px);
}
#hatenabar-diary-refer-button[disabled="true"] {
    -moz-image-region: rect(32px, 176px, 48px, 160px);
}

#hatenabar-group-refer-button {
    -moz-image-region: rect(0px, 192px, 16px, 176px);
}
#hatenabar-group-refer-button[disabled="true"] {
    -moz-image-region: rect(32px, 192px, 48px, 176px);
}

/* Statusbar */

#hatenabar-account-status {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(32px, 48px, 48px, 32px);
}
#hatenabar-account-status[hatena|login] {
    -moz-image-region: rect(0px, 48px, 16px, 32px);
}
#hatenabar-account-status > .statusbarpanel-icon {
    width: 16px;
    height: 16px;
}

#hatenabar-star-status {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(32px, 64px, 48px, 48px);
}
#hatenabar-star-status[hatena|star="true"] {
    -moz-image-region: rect(0px, 64px, 16px, 48px);
}

#hatenabar-bookmark-status {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(0px, 144px, 16px, 128px);
}
