
/* チェックボックスに画像を指定したとき、
 * 画像の高さが引き伸ばされる問題を解決する。
 */
.checkbox-label-box {
    -moz-box-align: center;
}

/* 各ペイン用のアイコンを用意していないので表示しない。 */
.paneButtonIcon {
    height: 5px;
}

/* Searchbar */

[preference="searchbar.link"] > [value="search:search"] {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(128px, 16px, 144px, 0px);
}
[preference="searchbar.link"] > [value="b:search"] {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(64px, 32px, 80px, 16px);
}

/* Statusbar */

[preference="account.showStatus"] {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(0px, 48px, 16px, 32px);
}
[preference="star.showStatus"] {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(0px, 64px, 16px, 48px);
}
[preference="bookmark.showStatus"] {
    list-style-image: url("chrome://hatenabar/skin/icons.png");
    -moz-image-region: rect(0px, 272px, 16px, 256px);
}

/* Bookmark Extension */

#convenient-bookmark-description {
    text-align: justify;
    max-width: 14em;
}
